:root { 
--white_A700_b2:#ffffffb2; 
--deep_orange_A200:#ef6830; 
--blue_gray_50:#eff2f6; 
--light_blue_400:#18ade4; 
--red_400:#e7534e; 
--gray_50:#f8f8f8; 
--white_A700_99:#ffffff99; 
--black_900_01:#000000; 
--black_900:#110915; 
--yellow_800:#ef972c; 
--gray_500_01:#909090; 
--yellow_900:#ef8f2d; 
--blue_gray_700:#525252; 
--blue_gray_900:#18214d; 
--purple_800:#6f348e; 
--black_900_03:#060606; 
--black_900_02:#0e0e0e; 
--purple_400:#aa58aa; 
--blue_gray_50_01:#f1f1f1; 
--white_A700_e5:#ffffffe5; 
--gray_700:#646464; 
--gray_400:#b3b3b3; 
--black_900_2b:#0000002b; 
--gray_500:#979797; 
--gray_900:#191919; 
--gray_900_01:#212426; 
--yellow_A700:#edd103; 
--gray_300:#e7e6e7; 
--gray_300_01:#dfe3ea; 
--gray_100:#f7f7f7; 
--black_900_a5:#000000a5; 
--blue_gray_800_87:#3e446287; 
--white_A700_87:#ffffff87; 
--white_A700_66:#ffffff66; 
--yellow_900_01:#f6851b; 
--cyan_300:#54d9e1; 
--gray_50_a2:#f8f8f8a2; 
--cyan_800_99:#0f739799; 
--lime_A700:#b7e703; 
--white_A700_01:#fdfdfd; 
--white_A700:#ffffff; 
--blue_gray_700_01:#524e55; 
}